.precip-chart-bar {
    fill: rgba(197, 231, 242, 0.8);
    cursor: pointer;
}

.precip-chart-bar:hover {
    fill: #C5E7F2;
}

.precip-chart-line {
    fill: none;
    stroke: #EC2228;
    stroke-width: 2px;
}