.precip-chart-bar {
    // fill: rgba(197, 231, 242, 0.8);
    fill: #1F5D7F;
    // cursor: pointer;
    pointer-events: none;
}

// .precip-chart-bar:hover {
//     fill: #C5E7F2;
// }

.precip-chart-line {
    fill: none;
    stroke: #89D4E9;
    stroke-width: 2px;
    pointer-events: none;
}