#infoPanelDiv{
    // position: absolute;
    // bottom: 0;
    // left: 0;
    // right: 0;
    // padding: 1rem;
    // height: 200px;
    // background: rgba(0,0,0,.7);

    width: 100%;

    .item-container {
        display: flex;
        flex-flow: column;
        height: 100%;

        .item-header {
            flex: 0 1 auto;
            text-align: center;
            color: rgba(255,255,255,.8);
        }
          
        .item-content {
            flex: 1 1 auto;
        }

        .item-footer {
            flex: 0 1 25px;
            padding-top: .5rem;
        }
    }


    .flex-container {
        display:flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-content: center;
        align-items: center;

        .flexy-item {
            flex-grow: 1;
            flex-shrink: 0;
            flex-basis: 0px;
        }
    }

    .axis text {
        font: 9px sans-serif;
        fill: rgba(255,255,255,.7);
    }
      
    .axis line,
    .axis path {
        fill: none;
        stroke: rgba(255,255,255,.3);
        shape-rendering: crispEdges;
    }

    hr.info-panel-divider{
        margin: .75rem 0;
        border: none;
        border-top: 1px solid rgba(255,255,255,.2);
    }
}