.storm-info-list-item {

    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;

    .date-label {
        // width: 100px;
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: 100px;
    }

    .category-icon {
        width: 50px;
        height: 30px;
    }

    .category-icon[data-value="Subtropical Depression"]{
        background: url('../../static/Symbology_PNG_SVG/PNG/TropicalDepression.png') center center no-repeat;
        background-size: contain;
    }

    .category-icon[data-value="Tropical Low"]{
        background: url('../../static/Symbology_PNG_SVG/PNG/TropicalLow.png') center center no-repeat;
        background-size: contain;
    }

    .category-icon[data-value="Tropical Depression"]{
        background: url('../../static/Symbology_PNG_SVG/PNG/TropicalDepression.png') center center no-repeat;
        background-size: contain;
    }

    .category-icon[data-value="Tropical Storm"]{
        background: url('../../static/Symbology_PNG_SVG/PNG/TropicalStorm.png') center center no-repeat;
        background-size: contain;
    }

    .category-icon[data-value="Category 1"]{
        background: url('../../static/Symbology_PNG_SVG/PNG/Hurricane1.png') center center no-repeat;
        background-size: contain;
    }

    .category-icon[data-value="Category 2"]{
        background: url('../../static/Symbology_PNG_SVG/PNG/Hurricane2.png') center center no-repeat;
        background-size: contain;
    }

    .category-icon[data-value="Category 3"]{
        background: url('../../static/Symbology_PNG_SVG/PNG/Hurricane3.png') center center no-repeat;
        background-size: contain;
    }

    .category-icon[data-value="Category 4"]{
        background: url('../../static/Symbology_PNG_SVG/PNG/Hurricane4.png') center center no-repeat;
        background-size: contain;
    }

    .category-icon[data-value="Category 5"]{
        background: url('../../static/Symbology_PNG_SVG/PNG/Hurricane5.png') center center no-repeat;
        background-size: contain;
    }

    .storm-type{
        width: 110px;
    }
}
