@import '../../style/colors.scss';
@import './categoryIcon.scss';

.storm-info-header {
    display: flex;

    .is-flexy{
        flex-grow: 1;
        flex-shrink: 0;
    }

    .breadcrumbs .crumb{
        color:#ccc;
        font-size: .75rem;
        cursor: pointer;
        line-height: 24px;
    }
}

.storm-info-list-item {

    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    cursor: pointer;

    .time-info-div {
        width: 60px;
        font-size: .75rem;
    }

    .storm-info-div {
        // width: 120px;
        flex-grow: 2;
        flex-shrink: 0;
        flex-basis: 100px;
        border-left: 1px solid rgba(255,255,255,.2);
    }

    .storm-info-header {
        display:flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-content: center;
        align-items: center;

        .storm-category-name {
            // width: 120px;
            flex-grow: 1;
            flex-shrink: 0;
            flex-basis: 100px;
        }
        
        .category-icon {
            width: 50px;
            height: 30px;
        }

        // .category-icon[data-value="Subtropical Depression"]{
        //     background: url('../../static/Symbology_PNG_SVG/32x32/b_TropicalDepression.png') center center no-repeat;
        //     background-size: auto 80%;
        // }

        // .category-icon[data-value="Tropical Low"]{
        //     background: url('../../static/Symbology_PNG_SVG/32x32/b_TropicalDepression.png') center center no-repeat;
        //     background-size: auto 80%;
        // }

        // .category-icon[data-value="Tropical Depression"]{
        //     background: url('../../static/Symbology_PNG_SVG/32x32/b_TropicalDepression.png') center center no-repeat;
        //     background-size: auto 80%;
        // }

        // .category-icon[data-value="Tropical Storm"]{
        //     background: url('../../static/Symbology_PNG_SVG/32x32/c_TropicalStorm.png') center center no-repeat;
        //     background-size: auto 80%;
        // }

        // .category-icon[data-value="Category 1"]{
        //     background: url('../../static/Symbology_PNG_SVG/32x32/d_Hurricane1.png') center center no-repeat;
        //     background-size: auto 80%;
        // }

        // .category-icon[data-value="Category 2"]{
        //     background: url('../../static/Symbology_PNG_SVG/32x32/e_Hurricane2.png') center center no-repeat;
        //     background-size: auto 80%;
        // }

        // .category-icon[data-value="Category 3"]{
        //     background: url('../../static/Symbology_PNG_SVG/32x32/f_Hurricane3.png') center center no-repeat;
        //     background-size: auto 80%;
        // }

        // .category-icon[data-value="Category 4"]{
        //     background: url('../../static/Symbology_PNG_SVG/32x32/g_Hurricane4.png') center center no-repeat;
        //     background-size: auto 80%;
        // }

        // .category-icon[data-value="Category 5"]{
        //     background: url('../../static/Symbology_PNG_SVG/32x32/h_Hurricane5.png') center center no-repeat;
        //     background-size: auto 80%;
        // }

    }

    .storm-info-additional {
        .info-type {
            // width: 65px;
            margin-right: .5rem;
            color: rgba(255,255,255,.75);
        }

        .info-value {
            color: rgba(255,255,255,.9);
        }
    }
}

.storm-info-list-item:hover{
    .storm-info-div { 
        background: rgba(0, 0, 0, .15);
    }
}