@import './colors.scss';

.fancy-scrollbar::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.fancy-scrollbar::-webkit-scrollbar-track {
    background: rgba(0,0,0,.1); 
}

.fancy-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,.2); 
}

.fancy-scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgba(100,100,100,.5); 
}