@import '~calcite-web/dist/css/calcite-web.min.css';
@import './colors.scss';

html,
body,
#viewDiv {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow-y: hidden;
}

.side-container {
    position: absolute;
    top: 0;
    // bottom: 0;
    right: 0;
    // width: 395px;
    height: 100%;
    // max-height: calc(100% - 15px);
    overflow-y: auto;
    background: $theme_color;
    color: #fff;
    z-index: 5;
}

.side-container.is-minimized {
    top: unset;
    bottom: 0;
    height: auto;

    .content-wrap {
        display: none;
    }
}

#chartDiv {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 10;
    background-color: rgba(0,0,0,.7);

    svg {
        text {
            fill: #efefef;
        }
    }
}

.modal-content {
    background: $theme_color;
    color: #efefef;
}

.cursor-pointer {
    cursor: pointer;
}

@media (max-width: 480px) { 
    .side-container {
        width: 100%;
        height: auto;
        top: unset;
        bottom: 0;
    }

}