@import '~calcite-web/dist/css/calcite-web.min.css';
@import url('https://js.arcgis.com/4.8/esri/css/main.css');

html,
body,
#viewDiv {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}