@import '~calcite-web/dist/css/calcite-web.min.css';

html,
body,
#viewDiv {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow-y: hidden;
}

#chartDiv {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 10;
    background-color: rgba(0,0,0,.7);

    svg {
        text {
            fill: #efefef;
        }
    }
}

.modal-content {
    background: rgba(0,48,77,.75);
    color: #efefef;
}

.cursor-pointer {
    cursor: pointer;
}